.help-block{
    color: red !important;
}

.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading, .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link {
    background-color: #b1570a !important;
}

.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-icon.svg-icon svg g [fill], .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-icon.svg-icon svg g [fill] {
    fill: #ffffff !important;
}

#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.25) url('../loader.svg') no-repeat center center;
    background-size: 100px 100px;
    z-index: 10000;
}

.fc-toolbar.fc-header-toolbar {
    display: none;
}

.sidebar-margin-change{
    margin-left: -62px;
}
 .change-top-margin{
    margin-top: -22px;
}

#employee-birthday-list_filter{
    display: none;
}

#employee-bond-last-date-list_filter{
    display: none;
}

.tiles-bg-color a {
    color: #ffffff !important;

}
.tiles-bg-color{
 background-color: #1e1e2d;
 color: #ffffff !important;
 border-right: 5px solid #eef0f8;
}

