.help-block{
    color: red !important;
}

.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading, .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link {
    background-color: #b1570a !important;
}

.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-icon.svg-icon svg g [fill], .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-icon.svg-icon svg g [fill] {
    fill: #ffffff !important;
}

#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.25) url('../loader.svg') no-repeat center center;
    background-size: 100px 100px;
    z-index: 10000;
}

.fc-toolbar.fc-header-toolbar {
    display: none;
}

.sidebar-margin-change{
    margin-left: -62px;
}
 .change-top-margin{
    margin-top: -22px;
}

#employee-birthday-list_filter{
    display: none;
}

#employee-bond-last-date-list_filter{
    display: none;
}

.tiles-bg-color a {
    color: #ffffff !important;

}
.tiles-bg-color{
 background-color: #1e1e2d;
 color: #ffffff !important;
 border-right: 5px solid #eef0f8;
}

/* tracker css */
h5 {
    font-weight: bold;
    font-size: 30px;
    color: #1e1e2d;
    font-family: ubuntu;
}

h6 {
    font-weight: bold;
    font-size: 10px;
    color: #1e1e2d;
    font-family: ubuntu;
}

#stopWatch {
    height: auto;
    text-align: center;
    display: block;
    padding: 5px;
}

#timer,
#fulltime {
  height: auto;
  font-weight: bold;
  font-size: 25px;
  font-family: ubuntu;
  display: block;
  text-align: center;
  color: #1e1e2d;
  margin-top: 15px;
  margin-right : 10px;
}

/* button {
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    font-family: ubuntu;
    outline: none;
    width: 80px;
    padding: 10px 0px;
    background-color: #1e1e2d;
    border: 1px solid #eee;
    border-radius: 5px;
    color: white;
} */

#fulltime {
    display: none;
    font-size: 16px;
    font-weight: bold;
}


/* button design */
#toggle {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    border: none; /* Remove border */
  }
  #squareInside {
    width: 15px;
    height: 15px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px; /* Add border-radius to the square */
  }

