h5 {
    font-weight: bold;
    font-size: 30px;
    color: #1e1e2d;
    font-family: ubuntu;
}

h6 {
    font-weight: bold;
    font-size: 10px;
    color: #1e1e2d;
    /* margin-top: -5vh; */
    /* margin-bottom: -2vh; */
    font-family: ubuntu;
}

#stopWatch {
    height: auto;
    text-align: center;
    display: block;
    padding: 5px;
}

#timer,
#fulltime {
  height: auto;
  font-weight: bold;
  font-size: 25px;
  font-family: ubuntu;
  display: block;
  text-align: center;
  color: #1e1e2d;
  margin-top: 15px;
  margin-right : 10px;
}

button {
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    font-family: ubuntu;
    outline: none;
    width: 80px;
    padding: 10px 0px;
    background-color: #1e1e2d;
    border: 1px solid #eee;
    border-radius: 5px;
    color: white;
}

#fulltime {
    display: none;
    font-size: 16px;
    font-weight: bold;
}
